CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# lex / yacc
lex.yy.c
y.output
y.tab.h
y.tab.c
a.out

# antlr
/output
.antlr
/verilog/src/main/java/me/changwei/verilog/parser
/verilog/target

# idea
.idea

# java
target
